@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
.post-beer-container {
  background-color: #ebae3e;
  height: 100vh;
  width: 100vw;
  .contactForm {
    width: 70%;

    display: flex;
    justify-content: center;
    text-align: center;
    form {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .input-contact-form {
      margin-bottom: 10px;
    }
    .button-contact-form {
      margin-top: 12px;
    }
  }
}
