@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
.modalBackground {
  background-color: #292929;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  box-shadow: 6px 6px 14px 0px rgba(159, 159, 159, 0.79);
  width: 334px;
  height: 325px;
  position: fixed;
  top: 16%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.modalHeaderHome {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 5%;
}

.modalBody {
  text-align: center;
  height: 105px;
}

.modalFooterHome {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  button {
    width: 100px;
    height: 75px;
    font-size: 17px;
    font-weight: bolder;
    background-color: #ebae3e;
    color: white;
    text-align: center;
    padding: 20px 0px;
    border: solid 1px #ebae3e;
    border-radius: 20px;
    cursor: pointer;
    &:active {
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    &:focus {
      outline: none;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
